div.chatWindow {
  overflow-x: clip;
  overflow-y: scroll;
}

div.chatScroller {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

div.chatScroller .chatMeta {
  text-align: center;
  font-size: 0.75rem;
  color: var(--purple-foreground);
}

div.chatScroller .chatSender {
  font-size: 0.75rem;
  color: var(--purple-foreground);
}

div.chatScroller .chatMe .chatSender {
  font-size: 0.75rem;
  color: var(--purple-foreground);
  text-align: right;
}

div.chatScroller .chatContent {
  width: 75%;
  max-width: max-content;
  margin-right: auto;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  background-color: #b5c9c9;
  color: #180429;
}

div.chatScroller .chatMe .chatContent {
  margin-right: 0;
  margin-left: auto;
  background-color: #e8e6ff;
}
